############################################
# Build folders
############################################
bin/
obj/
out/
publish/

############################################
# Visual Studio
############################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################################
# Rider / VS Code
############################################
.idea/
.vscode/

############################################
# Logs
############################################
*.log

############################################
# ASP.NET Scaffolding
############################################
ScaffoldingReadMe.txt

############################################
# IIS / Express
############################################
applicationhost.config

############################################
# Test Results
############################################
TestResults/
*.trx

############################################
# NuGet
############################################
*.nupkg
*.snupkg
packages/

############################################
# OS Files
############################################
Thumbs.db
Desktop.ini

############################################
# Secrets (MUITO IMPORTANTE)
############################################
appsettings.Development.json
appsettings.*.Development.json
secrets.json

############################################
# Publish profiles
############################################
Properties/PublishProfiles/

############################################
# Entity Framework
############################################
Migrations/*.Designer.cs